# -----------------------------
# Configuration file for flake8
# -----------------------------

# Configure flake8
# ----------------
[flake8]
extend-ignore =
    # Default ignores by flake (added here for when ignore gets overwritten)
    E121,E123,E126,E226,E24,E704,W503,W504,
    # Too many leading '#' for block comment
    E266,
    # Line too long (82 > 79 characters)
    E501,
    # Do not use variables named 'I', 'O', or 'l'
    E741,
    # Line break before binary operator (conflicts with black)
    W503,
    # Ignore spaces before a colon (Black handles it)
    E203,
exclude =
    .git,
    __pycache__,
    .ipynb_checkpoints,
    setup.py,
    docs/conf.py,
    docs/_build/,
per-file-ignores =
    # disable unused-imports errors on __init__.py
    __init__.py: F401
exclude-from-doctest =
    # Don't check style in docstring of test functions
    tests
# Define flake rules that will be ignored for now. Every time a new warning is
# solved througout the entire project, it should be removed to this list.
ignore =
    # assertRaises(Exception): should be considered evil
    B017,
    # No explicit stacklevel argument found.
    B028,
    # Missing docstring in public module
    D100,
    # Missing docstring in public class
    D101,
    # Missing docstring in public method
    D102,
    # Missing docstring in public function
    D103,
    # Missing docstring in public package
    D104,
    # Missing docstring in magic method
    D105,
    # Missing docstring in __init__
    D107,
    # One-line docstring should fit on one line with quotes
    D200,
    # No blank lines allowed before function docstring
    D201,
    # No blank lines allowed after function docstring
    D202,
    # 1 blank line required between summary line and description
    D205,
    # Docstring is over-indented
    D208,
    # Multi-line docstring closing quotes should be on a separate line
    D209,
    # No whitespaces allowed surrounding docstring text
    D210,
    # No blank lines allowed before class docstring
    D211,
    # Use """triple double quotes"""
    D300,
    # First line should end with a period
    D400,
    # First line should be in imperative mood; try rephrasing
    D401,
    # First line should not be the function's "signature"
    D402,
    # First word of the first line should be properly capitalized
    D403,
    # No blank lines allowed between a section header and its content
    D412,
    # Section has no content
    D414,
    # Docstring is empty
    D419,
    # module level import not at top of file
    E402,
    # 'from %s import *' used; unable to detect undefined names
    F403,
    # %r may be undefined, or defined from star imports: %s
    F405,
    # f-string is missing placeholders
    F541,
    # redefinition of unused %r from line %r
    F811,
    # undefined name %r
    F821,
    # Block quote ends without a blank line; unexpected unindent.
    RST201,
    # Definition list ends without a blank line; unexpected unindent.
    RST203,
    # Field list ends without a blank line; unexpected unindent.
    RST206,
    # Inline strong start-string without end-string.
    RST210,
    # Title underline too short.
    RST212,
    # Inline emphasis start-string without end-string.
    RST213,
    # Inline interpreted text or phrase reference start-string without end-string.
    RST215,
    # Inline substitution_reference start-string without end-string.
    RST219,
    # Unexpected indentation.
    RST301,
    # Unknown directive type "*".
    RST303,
    # Unknown interpreted text role "*".
    RST304,
    # Error in "*" directive:
    RST307,
    # Previously unseen severe error, not yet assigned a unique code.
    RST499,
    # trailing whitespace
    W291,
    # blank line contains whitespace
    W293,


# Configure flake8-rst-docstrings
# -------------------------------
# Add some roles used in our docstrings
rst-roles =
    class,
    func,
    mod,
    meth,
    ref,
