*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

*.sublime-project
*.sublime-workspace
docs/_build/
docs/warnings.txt
.DS_Store
docs/content/examples/*
docs/modules/*
examples/00_published/example1.png
examples/00_published/bookpurnong_inversion/bookpurnong_data/SK655CS_Bookpurnong_ZX_HM_TxInc_newDTM.txt
examples/00_published/bookpurnong_inversion/bookpurnong_data/README.txt
examples/00_published/bookpurnong_inversion/bookpurnong_data/._Bookpurnong_Resolve_Exported.XYZ
examples/00_published/bookpurnong_inversion/bookpurnong_data/._8044_Bookpurnong.HDR
examples/00_published/bookpurnong_inversion/._dobs_re_final.npy
examples/00_published/bookpurnong_inversion/._booky_skytem.hdf5
examples/00_published/bookpurnong_inversion/._README.txt
examples/00_published/bookpurnong_inversion/._.DS_Store
examples/00_published/bookpurnong_inversion.tar.gz
examples/00_published/._bookpurnong_inversion
examples/00_published/bookpurnong_inversion/dobs_re_final.npy
examples/00_published/bookpurnong_inversion/booky_skytem.hdf5
examples/00_published/bookpurnong_inversion/bookpurnong_data/8044_Bookpurnong.HDR
examples/00_published/bookpurnong_inversion/bookpurnong_data/._SK655CS_Bookpurnong_ZX_HM_TxInc_newDTM.txt
examples/00_published/bookpurnong_inversion/._skytem_hm.wf
examples/00_published/bookpurnong_inversion/._skytem_hm.tc
examples/00_published/bookpurnong_inversion/._mopt_re_final.npy
examples/00_published/bookpurnong_inversion/._booky_resolve.hdf5
examples/00_published/bookpurnong_inversion/._MurrayRiver.txt
examples/00_published/bookpurnong_inversion/mopt_re_final.npy
examples/00_published/bookpurnong_inversion/dpred_re_final.npy
examples/00_published/bookpurnong_inversion/bookpurnong_data/Bookpurnong_SkyTEM.HDR
examples/00_published/bookpurnong_inversion/bookpurnong_data/Bookpurnong_Resolve_Exported.XYZ
examples/00_published/bookpurnong_inversion/README.txt
examples/00_published/bookpurnong_inversion/MurrayRiver.txt
examples/00_published/bookpurnong_inversion/._bookpurnong_data
examples/00_published/bookpurnong_inversion/skytem_hm.wf
examples/00_published/bookpurnong_inversion/skytem_hm.tc
examples/00_published/bookpurnong_inversion/booky_resolve.hdf5
examples/00_published/bookpurnong_inversion/bookpurnong_inversion.tar.gz
examples/00_published/bookpurnong_inversion/bookpurnong_data/._README.txt
examples/00_published/bookpurnong_inversion/bookpurnong_data/._Bookpurnong_SkyTEM.HDR
examples/00_published/bookpurnong_inversion/._dpred_re_final.npy
