*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# zarr files from sensitivity calcs
*.zarr

*.sublime-project
*.sublime-workspace
*.code-workspace
docs/_build/
docs/warnings.txt
docs/content/api/generated/*
.DS_Store
docs/content/examples/*
docs/content/tutorials/*
docs/modules/*
.vscode/*

# paths to where data are downloaded
examples/20-published/bookpurnong_inversion/*
examples/20-published/._bookpurnong_inversion
examples/20-published/*.tar.gz
examples/20-published/*.png
tutorials/03-gravity/gravity/*
tutorials/03-gravity/outputs/*
tutorials/04-magnetics/magnetics/*
tutorials/04-magnetics/outputs/*
tutorials/05-dcr/dcr1d/*
tutorials/05-dcr/dcr2d/*
tutorials/05-dcr/dcr3d/*
tutorials/05-dcr/outputs/*
tutorials/05-dcr/*.html
tutorials/06-ip/dcip2d/*
tutorials/06-ip/dcip3d/*
tutorials/06-ip/outputs/*
tutorials/06-ip/*.html
tutorials/07-fdem/em1dfm/*
tutorials/07-fdem/em1dfm_stitched/*
tutorials/07-fdem/outputs/*
tutorials/08-tdem/em1dtm/*
tutorials/08-tdem/em1dtm_stitched/*
tutorials/08-tdem/outputs/*
tutorials/12-seismic/seismic/*
tutorials/13-joint_inversion/pgi/*
tutorials/13-joint_inversion/cross_gradient_data/*

# jupyter
*.ipynb

# results and testing files
*.obs
*.ubc
*.xyz
*.npy
*.mod
*.tar.gz
