*.py[cod]

# C extensions
*.so

# Folders
docs/build/*

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
libgit
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

*.sublime-project
*.sublime-workspace
docs/_build/
*.ipynb_checkpoints
notebooks/scipy2015/001-Inversion_NoStopping.npy
notebooks/scipy2015/001-Inversion_NoStoppingregMesh_smoothFalse.npy
notebooks/scipy2015/002-Inversion_NoStoppingregMesh_smoothFalse.npy
notebooks/scipy2015/003-Inversion_NoStoppingregMesh_smoothFalse.npy
notebooks/scipy2015/004-Inversion_NoStoppingregMesh_smoothFalse.npy
notebooks/scipy2015/005-Inversion_NoStoppingregMesh_smoothFalse.npy
notebooks/scipy2015/006-Inversion_NoStoppingregMesh_smoothFalse.npy
notebooks/scipy2015/007-Inversion_NoStoppingregMesh_smoothFalse.npy
notebooks/scipy2015/008-Inversion_NoStoppingregMesh_smoothFalse.npy
notebooks/scipy2015/009-Inversion_NoStoppingregMesh_smoothFalse.npy
notebooks/scipy2015/010-Inversion_NoStoppingregMesh_smoothFalse.npy
notebooks/scipy2015/011-Inversion_NoStoppingregMesh_smoothFalse.npy
notebooks/scipy2015/012-Inversion_NoStoppingregMesh_smoothFalse.npy
notebooks/scipy2015/013-Inversion_NoStoppingregMesh_smoothFalse.npy
notebooks/scipy2015/014-Inversion_NoStoppingregMesh_smoothFalse.npy
notebooks/scipy2015/015-Inversion_NoStoppingregMesh_smoothFalse.npy
notebooks/scipy2015/016-Inversion_NoStoppingregMesh_smoothFalse.npy
notebooks/scipy2015/017-Inversion_NoStoppingregMesh_smoothFalse.npy
notebooks/scipy2015/018-Inversion_NoStoppingregMesh_smoothFalse.npy
notebooks/scipy2015/019-Inversion_NoStoppingregMesh_smoothFalse.npy
notebooks/scipy2015/020-Inversion_NoStoppingregMesh_smoothFalse.npy
notebooks/scipy2015/021-Inversion_NoStoppingregMesh_smoothFalse.npy
notebooks/scipy2015/022-Inversion_NoStoppingregMesh_smoothFalse.npy
notebooks/scipy2015/023-Inversion_NoStoppingregMesh_smoothFalse.npy
notebooks/scipy2015/024-Inversion_NoStoppingregMesh_smoothFalse.npy
notebooks/scipy2015/025-Inversion_NoStoppingregMesh_smoothFalse.npy
notebooks/scipy2015/026-Inversion_NoStoppingregMesh_smoothFalse.npy
notebooks/scipy2015/027-Inversion_NoStoppingregMesh_smoothFalse.npy
notebooks/scipy2015/028-Inversion_NoStoppingregMesh_smoothFalse.npy
notebooks/scipy2015/029-Inversion_NoStoppingregMesh_smoothFalse.npy
notebooks/scipy2015/030-Inversion_NoStoppingregMesh_smoothFalse.npy
