# For more info on this file, a good reference is: 
# https://github.com/sympy/sympy/wiki/Using-.mailmap

# The format for each line can be:
#
# Proper Name <Proper@email> commit name <commit@email>
# \-----------+------------/ \----------+-------------/
#             |                         |
#          replace                     find
#
# Though the "find" part can be omitted to declare a canonical name if only
# email variations exist, and the "commit name" can be omitted in most cases.

Lindsey Heagy <lindseyheagy@gmail.com>
Lindsey Heagy <lindseyheagy@gmail.com> <lheagy@eos.ubc.ca>

Rowan Cockett <rowan@visiblegeology.com>
Rowan Cockett <rowan@visiblegeology.com> <rowanc1@gmail.com>
Rowan Cockett <rowan@visiblegeology.com> <rowan@3ptscience.com>

Seogi Kang <sgkang09@gmail.com>
Seogi Kang <sgkang09@gmail.com> <sgkang09@github.com>
Seogi Kang <sgkang09@gmail.com> <skang@eos.ubc.ca>

Dom Fournier <fourndo@gmail.com>
Dom Fournier <fourndo@gmail.com> domfournier <dominiquef@mirageoscience.com>

Gudni Karl Rosenkjaer <gkrosen@gmail.com>
Gudni Karl Rosenkjaer <gkrosen@gmail.com> <grosenkj@eos.ubc.ca>
Gudni Karl Rosenkjaer <gkrosen@gmail.com> <grosenkj@users.noreply.github.com>


Thibaut Astic <thibaut.astic@gmail.com>
Thibaut Astic <thibaut.astic@gmail.com> <thast@eos.ubc.ca>
Thibaut Astic <thibaut.astic@gmail.com> <thast@users.noreply.github.com>
Thibaut Astic <thibaut.astic@gmail.com> <tastic@eos.ubc.ca>
Thibaut Astic <thibaut.astic@gmail.com> <97514898+thibaut-kobold@users.noreply.github.com>
Thibaut Astic <thibaut.astic@gmail.com> <thibaut.astic@koboldmetals.com>

Devin Cowan <devinccowan@gmail.com>

Dave Marchant <dwfmarchant@gmail.com>

Michael Mitchell <micmitch44@gmail.com> <mmitchel@eos.ubc.ca>
Michael Mitchell <micmitch44@gmail.com> <mamitchell@usgs.gov>

Lars Ruthotto <lruthotto@eos.ubc.ca> <lruthott@eos.ubc.ca>

Dieter Werthmüller <mail@werthmuller.org>
Dieter Werthmüller <mail@werthmuller.org> <prisae@users.noreply.github.com>
Dieter Werthmüller <mail@werthmuller.org> <dieter@werthmuller.org>

Eldad Haber <ehaber99@gmail.com>

Brendan Smithyman <smithyman@gmail.com> <brendan@bitsmithy.net>

Xiaolong Wei <56940558+xiaolongw1223@users.noreply.github.com>

Ying Hu <64567062+YingHuuu@users.noreply.github.com>

Richard Scott <72196131+RichardScottOZ@users.noreply.github.com>

Nick Williams <nick.williams@koboldmetals.com> <86257151+nwilliams-kobold@users.noreply.github.com>

Fernando Perez <Fernando.Perez@berkeley.edu>

Adam Kosík <adam.kosik@ost.ch>

Andrea Balza Morales <andrea.balza@gim.rwth-aachen.de>

Craig Miller <c.miller@gns.cri.nz>

Colton Kohnke <cjgohlke@gmail.com>
Colton Kohnke <cjgohlke@gmail.com> <ckohnke@users.noreply.github.com>

Franklin Koch <franklin@3ptscience.com>

Jacob Edman <jacob.edman@koboldmetals.com>

Joseph Capriotti <josephrcapriotti@gmail.com>
Joseph Capriotti <josephrcapriotti@gmail.com> <jcapriot@mines.edu>

John Kuttai <john.kuttai@gmail.com>

John Weiss <johnweis0480@gmail.com>
John Weiss <johnweis0480@gmail.com> <49649694+johnweis0480@users.noreply.github.com>

Kalen Martens <kmartens@sjgeophysics.com>

Luz Angelica Caudillo Mata <lacmajedrez@gmail.com>

Neil Godber <njgodber@gmail.com>
Neil Godber <njgodber@gmail.com> <njgodber@outlook.com>

Santiago Soler <santiago.r.soler@gmail.com> <santisoler@fastmail.com>

Sarah Devriese <sdevriese@users.noreply.github.com>

Zheng-Kai Ye <supon3060@gmail.com>

Zhuo Liu <20036557+Zhuoliulz@users.noreply.github.com>

Mike Wathen <wathenmp@gmail.com>