name: simpeg-test
channels:
  - conda-forge
dependencies:
# dependencies
  - numpy>=1.20
  - scipy>=1.8
  - scikit-learn>=1.2
  - pymatsolver-base>=0.2
  - matplotlib-base
  - discretize>=0.10
  - geoana>=0.5.0
  - empymod>=2.0.0
  - pandas

# Solver
# uncomment the next line if you are on an intel platform
#  - pydiso # if on intel pc

# optional dependencies
  - dask
  - zarr
  - fsspec>=0.3.3
  - choclo
  - scooby
  - plotly

# documention building
  - sphinx
  - sphinx-gallery>=0.1.13
  - sphinxcontrib-apidoc
  - pydata-sphinx-theme
  - nbsphinx
  - numpydoc
  - pillow
  - sympy
  - memory_profiler
  - python-kaleido

# testing
  - pytest
  - pytest-cov

# style checking
  - pre-commit
  - black==24.3.0
  - flake8==7.0.0
  - flake8-pyproject==1.2.3
  - flake8-bugbear==23.12.2
  - flake8-builtins==2.2.0
  - flake8-mutable==1.2.0
  - flake8-rst-docstrings==0.3.0
  - flake8-docstrings==1.7.0