sphinx
sphinx_rtd_theme
sphinx-gallery>=0.1.13
sphinx-toolbox
sphinxcontrib-apidoc
pydata-sphinx-theme
nbsphinx
numpydoc
pillow
pylint
numpy>=1.20
scipy>=1.8
scikit-learn>=1.2
sympy
wheel
pytest
pytest-cov
jupyter
toolz
empymod>=2.0.0
scooby
black==24.3.0
pre-commit
twine
memory_profiler
plotly
setuptools_scm
