sphinx
sphinx_rtd_theme
sphinx-gallery>=0.1.13
pillow
pylint
numpy>=1.7
scipy>=0.13
sympy
wheel
pytest
pytest-cov
jupyter
sphinxcontrib-napoleon
toolz
empymod
scooby
black
pre-commit
twine
memory_profiler
