sphinx
sphinx_rtd_theme
sphinx-gallery>=0.1.13
sphinx-toolbox
sphinxcontrib-apidoc
pydata-sphinx-theme
nbsphinx
numpydoc
pillow
pylint
numpy>=1.7
scipy>=1.0.0
scikit-learn>=0.22
sympy
wheel
pytest
pytest-cov
jupyter
toolz
empymod
scooby
black
pre-commit
twine
memory_profiler
plotly