@import url(https://fonts.googleapis.com/css?family=Raleway);

.navbar-nav>.active>.nav-link {
    color: #000000!important;
}

#navbar-icon-links i.fa, #navbar-icon-links i.fab,
#navbar-icon-links i.far, #navbar-icon-links i.fas {
    color: #000000;
}

body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1{
    font-family: "Raleway", Helvetica, Arial, sans-serif; font-weight: bold;
}
h2{
    font-family: "Raleway", Helvetica, Arial, sans-serif; font-weight: bold;
}
h3{
    font-family: "Raleway", Helvetica, Arial, sans-serif; font-weight: bold;
}
.column > h3{
    font-family: "Raleway", Helvetica, Arial, sans-serif;
}

/* Dark theme tweaking
Matplotlib images are in png and inverted while other output
types are assumed to be normal images.
*/
html[data-theme=dark] img[src*='.png'] {
    filter: invert(0.82) brightness(0.8) contrast(1.2);
}

html[data-theme=dark] img[src*='simpeg-logo.png'] {
    filter: invert(0.82) brightness(0.8) contrast(1.2) hue-rotate(180deg);
}

html[data-theme=dark] .MathJax_SVG *  {
    fill: var(--pst-color-text-base);
}

html[data-theme=dark] #navbar-icon-links i.fa {
    color: #a6a6a6;
}
html[data-theme=dark] #navbar-icon-links i.fab {
    color: #a6a6a6;
}
html[data-theme=dark] #navbar-icon-links i.far {
    color: #a6a6a6;
}
html[data-theme=dark] #navbar-icon-links i.fas {
    color: #a6a6a6;
}
html[data-theme=dark] .navbar-nav>.active>.nav-link {
    color: #FFFFFF!important;
}
html[data-theme=dark] #navbar-main {
    background: #213a1b!important;
}
html[data-theme=light] #navbar-main {
    background: #acd6af!important;
}
