name: simpeg-test
channels:
  - conda-forge
dependencies:
  - numpy>=1.21
  - scipy>=1.8
  - pymatsolver-base>=0.2
  - matplotlib-base
  - discretize>=0.10
  - geoana>=0.5.0
  - empymod>=2.0.0

# Solver
  - pydiso

# optional dependencies
  - dask
  - zarr
  - fsspec>=0.3.3
  - choclo
  - scooby
  - plotly
  - scikit-learn>=1.2
  - pandas

# documentation building
  - sphinx
  - sphinx-gallery>=0.1.13
  - sphinxcontrib-apidoc
  - pydata-sphinx-theme
  - nbsphinx
  - numpydoc
  - pillow
  - sympy
  - memory_profiler
  - python-kaleido
  - h5py

# testing
  - pytest
  - pytest-cov

# Testing environment doesn't need style checkers

# PyPI uploading
  - wheel
  - twine
  - build
